:root {
  --primary-bg: #111111;
  --primary-tx: #ffffff;
  --primary-rc: #cdaa7d;
}
.header {
  display: flex;
  position: absolute;
  width: 100%;
  height: 70px;
  justify-content: center;
  gap: 80px;
}
.header::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 96%;
  height: 1px;
  background-color: var(--primary-tx);
  opacity: 50%;
}
.inst {
  background: url("../assets/Vector.svg");
  width: 26px;
  height: 26px;
  margin: auto 0;
  margin-right: 43px;
}
.logo {
  background: url("../assets/Vector1.svg");
  width: 40px;
  height: 40px;
  margin: auto 43px;
}
.burger {
  background: url("../assets/Group.svg");
  width: 50px;
  height: 22px;
  margin: auto 0;
  margin-left: 43px;
}
.header a {
  color: var(--primary-tx);
  align-content: center;
  font-family: "Cormorant Garamond";
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  text-decoration: none;
  color: var(--primary-tx);
}
.header a:active {
  color: var(--primary-rc);
  text-decoration: underline;
}